{% extends 'base.html' %}

{% block title %}
    Delete
{% endblock %}

{% block body %}
    <div class="container shadow-lg rounded-3 border-2 border border-dark p-3 text-center">
        <h1>Confirm Delete</h1>
        <form method="post" action="{% url 'delete_weight' weight.id %}">
            {% csrf_token %}
            <h4>Are you sure that you want to delete {{weight.weight}}lbs on {{weight.date}} ?</h4>
            <a href="{% url 'home_weight' %}" class="btn btn-dark"><i class="fas fa-arrow-left"></i> Go Back</a>
            <button type="submit" class="btn btn-danger">Yes, lose calories!</button>
        </form>
    </div>


{% endblock %}