{% extends 'base.html' %}
{% block title %}
    Delete Lift
{% endblock %}

{% block body %}
    <div class="container shadow-lg rounded-3 border-2 border border-dark p-3 text-center">
        <h1>Confirm</h1>
        <form method="post" action="{% url 'delete_lift' lift.id %}">
            {% csrf_token %}
            <h4>Are you sure that you want to delete {{lift.weight}}lb {{lift.lift_name}} on {{lift.date}}?</h4>
            <a href="{% url 'home_lifts' %}" class="btn btn-dark"><i class="fas fa-arrow-left"></i> Go Back</a>
            <button type="submit" class="btn btn-danger">Yes, lose my gains!</button>
        </form>
    </div>

{% endblock %}